@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin-webfont.eot');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$font-stack:      Roboto, sans-serif, serif;
$primary-color:   #8492af;
$secondary-color: #0e1a35;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  height: 1100px; 
  padding-top: 60px;
  background:#fff url(../img/header-bg.jpg) top center no-repeat;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 120px;
  &>nav {
    display: inline-block;
  }
  &~h1 {
    color: #fff;
    font-family: $font-stack;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
  }
  &~h3 {
    margin-bottom: 70px;
    color: $primary-color;
    font-family: $font-stack;
    font-size: 36px;
    text-align: center;
  }
}

.header__link,
.header__login-btn {
  display: inline-block; 
  width: 105px;
  height: 50px;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.header__link { 
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  &:hover {
    text-shadow: 0 0 15px #fff;
    border: 1px solid rgba(85, 132, 255, 0.5);
    border-radius: 24px;
    box-shadow: 0 0 15px rgb(85, 132, 255);
  }
}

.header__login-btn {
  color: #5584ff;
  border: 1px solid rgba(85, 132, 255, 0.5);
  border-radius: 24px;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: 0 0 15px #fff;
  }
}

.header__get-started-btn {
  display: block;
  margin: 0 auto;
  width: 204px;
  height: 48px;
  font-family: $font-stack;
  color: white;
  text-align: center;
  line-height: 48px;
  background-color: #5584ff;
  border: 1px solid transparent;
  border-radius: 24px;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: #5584ff;
    background-color: #fff;
    box-shadow: 0 0 15px #fff;
  }
}

.header__chart {
  max-width: 882px;
  height: 621px;
  margin: 80px auto 0;
  background: url(../img/chart.jpg) top center no-repeat;
  background-size: contain;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.features {
  height: 710px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  &__feature {
    width: 480px;
    padding: 0 50px;
    text-align: center;
    font-family: $font-stack;
    font-size: 18px;
    line-height: 30px;
    h5 {
      margin: 50px auto 20px;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      color: $primary-color;
      font-family: $font-stack;
    }
    a {
      display: block;
      margin: 45px auto;
      width: 252px;
      height: 50px;
      border: 1px solid rgba(132, 146, 175, 0.4);
      border-radius: 24px;
      font-family: $font-stack;
      color: $secondary-color;
      font-size: 18px;
      font-weight: 700;
      line-height: 50px;
      transition: all 0.4s ease-in-out;
      &:hover {
        box-shadow: 0 0 15px rgb(132, 146, 175);
        transform: scale(1.05);
      }
    }
  }
  &__icon1,
  &__icon2,
  &__icon3 {
    margin: 0 auto;
    width: 80px;
    height: 76px;
    background-image: url(../sprite/sprite.png);
  }
  &__icon1 {
    background-position: 0px -88px;
  }
  &__icon2 {
    position: relative;
    width: 92px;
    height: 88px;
    background-position: 0px 0px;
    &::before,
    &::after {
      position: absolute;
      top: 50px;
      content: '';
      display: block;
      width: 230px;
      height: 1px;
      background-color: $primary-color;
      opacity: 0.4;
    }
    &::before {
      left: -300px;
    }
    &::after {
      left: 160px;
    }
  }
  &__icon3 {
    width: 80px;
    height: 80px;
    background-position: -92px 0px;
  }
}

.container_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper-browser {
  background: linear-gradient(to bottom,#fff 0,#f6f7fa 15%,#f6f7fa 100%);
  height: 890px;
  &__browser {
    div {
      width: 50%;
      height: 625px;
    }
  }
  h2 {
    margin: 70px auto 30px;
    color: $secondary-color;
    font-family: $font-stack;
    font-size: 60px;
    font-weight: 100;
  }
  p {
    width: 580px;
    margin-bottom: 45px;
    color: $primary-color;
    font-family: $font-stack;
    font-size: 18px;
    line-height: 30px;
  }
  &__blue-font-paragraph {
    position: relative;
    margin-left: 40px;
    font-size: 22px;
    color: #5584ff;
    &::before {
      content: '';
      width: 28px;
      height: 28px;
      position: absolute;
      top: 0;
      left: -40px;
      background-image: url(../sprite/sprite.png);
      background-position: -126px -88px;
    }
  }
}

.tasks {
  height: 750px;
  background:#fff url(../img/header-bg.jpg) 50% 30% no-repeat;
  &__drop-zone {
    display: none;
    width: 392px;
    height: 101px;
    margin-bottom: 10px;
    border: 1px dashed $primary-color;
    color: $primary-color;
    font-size: 18px;
    text-align: center;
    line-height: 101px;
    &_visible {
      display: block;
    }
  }
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1640px;
    height: 100%;
    display: grid;
    grid-template-columns: 26% 26% 48%;
    justify-content: center;
    font-family: $font-stack;
    h2 {
      margin-bottom: 40px;
      color: white;
      font-size: 60px;
      font-weight: 100;
    }
    h3 {
      margin-bottom: 25px;
      color: white;
      font-size: 30px;
      font-weight: 500;
      span {
        color: $primary-color;
      }
    }
    p {
      margin-bottom: 50px;
      color: $primary-color;
      font-size: 18px;
      line-height: 30px;
    }
  }
  &__task {
    margin-bottom: 7px;
    color: #fff;
    &:hover {
      cursor: grab;
    }
  }
  &__drop {
    align-self: center;
  }
  &__carousel {
    overflow: hidden;
    position: relative;
    height: 260px;
  }
  &__carousel-item {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  &__carousel-controls {
    position: absolute;
    bottom: 0;
    img {
      cursor: pointer;
      margin-right: 20px;
    }
  }
  &__carousel-active:checked + .tasks__carousel-item {
    opacity: 1;
    pointer-events: auto;
    position: static;
  }
  &__big-arrow-right {
    position: absolute;
    top: 10px;
    left: 379px;
    background-image: url(../sprite/sprite.png);
    background-position: -128px -134px;
    width: 14px;
    height: 23px;
  }
}

#inProgress,
#completed {
  position: relative;
  margin-top: 120px;
  span {
    margin-left: 20px;
  }
}

.template {
  padding-top: 80px;
  height: 1090px;
  background: linear-gradient(to bottom,#f6f7fa 0,#f6f7fa 85%,#fff 100%);
  text-align: center;
  h2 {
    margin: 0 auto 35px;
    color: $secondary-color;
    font-family: $font-stack;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -0.8px;
  }
  p {
    color: $primary-color;
    font-family: $font-stack;
    font-size: 17px;
    line-height: 30px;
  }
  &__screenshot {
    position: relative;
    max-width: 1218px;
    height: 660px;
    margin: 70px auto;
    background: url(../img/screenshot.png) center center no-repeat;
    background-size: contain;
  }
  &__left-pointer,
  &__right-pointer {
    position: absolute;
    width: 48%;
    max-width: 600px;
    h6 {
      color: $secondary-color;
      font-family: $font-stack;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      border-bottom: 2px solid #5584ff;
    }
    p {
      margin-top: 20px;
      width: 225px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 18%;
      width: 46px;
      height: 46px;
      background: url(../sprite/sprite.png) -80px -88px no-repeat;
    }
  }
  &__left-pointer {
    top: 12%;
    left: -4%;
    text-align: left;
    &::after {
      right: -6%;
    }
  }
  &__right-pointer {
    top: 58%;
    right: -4%;
    text-align: right;
    p {
      margin-left: auto;
      margin-right: 0;
    }
    &::after {
      left: -6%;
    }
  }
}

.prices {
  height: 1000px;
  padding-top: 30px;
  h2 {
    padding-bottom: 90px;
    text-align: center;
    color: $secondary-color;
    font-family: $font-stack;
    font-size: 60px;
    font-weight: 100;
    &~p {
      margin: 105px auto 0;
      width: 900px;
      font-family: $font-stack;
      color: $primary-color;
      text-align: center;
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__price {
    width: 340px;
    height: 420px;
    padding-top: 45px;
    box-shadow: 0 0 50px #aaa;
    font-family: $font-stack;
    color: $secondary-color;
    text-align: center;
    h5 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
    }
    h6 {
      margin: 25px auto 30px;
      font-size: 40px;
      font-weight: 700;
      span {
        font-size: 72px;   
        font-weight: 700;
        span {
          font-size: 24px;      
          font-weight: 400;
          color: $primary-color;
        }
      }
    }
  }
  &__enabled,
  &__disabled {
    position: relative;
    padding-left: 30px;
    color: $primary-color;
    font-family: $font-stack;
    font-size: 18px;
    line-height: 42px;
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: 45px;
      background-image: url(../sprite/sprite.png);
    }
  }
  &__enabled::before {
    background-position: -104px -134px;
  }
  &__disabled::before {
    background-position: -80px -134px;
  }
  &__line {
    margin: 60px auto;
    position: relative;
    width: 252px;
    background-color: #fff;
    hr {
      z-index: -1;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 270%;
      background-color: $primary-color;
      opacity: 0.4;
      border-style: none;
    }
  }
}

.header__get-started-btn_shadowed:hover {
  box-shadow: 0 0 30px #5584ff;
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}

footer {
  height: 150px;
  background-color: $secondary-color;
  font-family: $font-stack;
  font-size: 18px;
  color: $primary-color;
  a {
    color: $primary-color;
    margin-right: 40px;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__facebook,
.footer__twitter,
.footer__google-plus {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sprite/sprite.png);
}

.footer__facebook {
  width: 9px;
  height: 17px;
  background-position: -142px -134px;
}

.footer__twitter {
  width: 18px;
  height: 16px;
  background-position: -126px -116px;
}

.footer__google-plus {
  width: 18px;
  height: 18px;
  background-position: -154px -88px;
}